{% extends 'base.html'%}

{% block content %}
<h1>Our Amazing Members</h1>

<table>
    <tr>
        <td>Member ID</td>
        <td>Name</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for member in members %}
    <tr>
        <td><a href="/members/{{member.id}}">{{member.id}}</a></td>
        <td><a href="/members/{{member.id}}">{{member.name}}</a></td>
        <td><button class="form-button"><a href="/members/{{member.id}}"><i class="fa-solid fa-circle-info"></i> &nbsp;View Member</a></button></td>
        <td><button class="form-button"><a href="/members/{{member.id}}/edit_member"><i class="fa-solid fa-pen-to-square"></i> &nbsp;Edit Member</a></button></td>
        <td>
            <form action="/members/{{member.id}}/delete" method="POST">
                <button class="form-button"><i class="fa-solid fa-trash"></i> &nbsp;Delete Member</button>
                
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}