{% extends 'base.html'%}

{% block content %}
<h1>Add a New Member to the Gym</h1>

<p>New members can be added to the gym database using the form below.</p>

<form action="/members" method="post" class="submission">

<div>
    <label for="name">Name of Member:</label>
    <input type="text" id="name" name="name" placeholder="Enter Member Name" required autofocus>
</div>

<div>
    <label for="premium">Membership Level:</label>
    <select id="premium" name="premium">
        <option value="False" selected>Standard</option>
        <option value="True">Premium</option>
    </select>   
</div>

<div>
    <label for="deactivated">Account Status:</label>
    <select id="deactivated" name="deactivated">
        <option value="False" selected>Active</option>
        <option value="True">Deactivated</option>
    </select>
</div>

<input type="submit" value="Add Member to Gym" />
</form>


{% endblock %}