{% extends 'base.html'%}

{% block content %}

<h1>Available Classes</h1>

<table>
    <tr>
        <td>Type of Activity</td>
        <td>Time</td>
        <td>Date</td>
        <td></td>
        <td></td>
    </tr>
            {% for activity in activities %}
            <tr>
                <td><a href="/classes/{{activity.id}}">{{activity.type}}</a></td>
                <td>{{activity.time}}</td>
                <td>{{activity.date}}</td>
                <td><button class="form-button"><a href="/classes/{{activity.id}}/edit_class"><i class="fa-solid fa-pen-to-square"></i> &nbsp;Edit Class</a></button></td>
                <td>
                    <form action="/classes/{{activity.id}}/delete" method="POST">
                        <button class="form-button"><i class="fa-solid fa-trash"></i> &nbsp;Delete This Class</button>
                        
                    </form>
                </td>
            </tr>
            {% endfor %}

</table>


{% endblock %}