{% extends 'base.html'%}

{% block content %}
<h1>Class Information for {{activity.type}}</h1>

<ul>
    <li>ID = {{activity.id}}</li>
    <li>Type of Activity: {{activity.type}}</li>
    <li>Time: {{activity.time}}</li>
    <li>Date: {{activity.date}}</li>

</ul>

<h2>Members Booked Into This Class</h2>

<ul>
{% for member in members %}
    <li><a href="/members/{{member.id}}">{{member.name}}</a></li>
{% endfor %}
</ul>

<a href="/classes/{{activity.id}}/edit_class">Edit This Class</a>


{% endblock %}