{% extends 'base.html'%}

{% block content %}
<h1>Class Information for {{activity.type}}</h1>

<table class="small">
    <tr>
        <td><strong>Class ID</strong></td>
        <td>{{activity.id}}</td>
    </tr>
    <tr>
        <td><strong>Type of Activity</strong></td>
        <td>{{activity.type}}</td>
    </tr>
    <tr>
        <td><strong>Time</strong></td>
        <td>{{activity.time}}</td>
    </tr>
    <tr>
        <td><strong>Date</strong></td>
        <td>{{activity.date}}</td>
    </tr>
</table>

<p><a href="/classes/{{activity.id}}/edit_class">Edit This Class</a></p>

{% if number_of_members == 0 %}
    <h2>No One is Currently Booked Into This Class</h2>
{% elif number_of_members == 1 %}
    <h2>Only One Member is Booked Into This Class</h2>
{% else %}
    <h2>{{number_of_members}} Members Are Booked Into This Class</h2>
{% endif %}

{% if number_of_members !=0 %}
<table>
    <thead>
        <tr>
            <th><strong>Member ID</strong></th>
            <th><strong>Member Name</strong></th>
            <th>Membership Level</th>
            <th>Account Status</th>
            <th colspan="3"><strong>Member Management</strong></th>
        </tr>
    </thead>
    <tbody>
    {% for member in members %}
    <tr>
        <td><a href="/members/{{member.id}}">{{member.id}}</a></td>
        <td><a href="/members/{{member.id}}">{{member.name}}</a></td>
        <td>
            {% if member.premium == True %}
                Premium
            {% else %}
                Standard
            {% endif %}
        </td>
        <td>
            {% if member.deactivated == True %}
            Decactivated
            {% else %}
            Active
            {% endif %}
        </td>
        <td><button class="index-button"><a href="/members/{{member.id}}"><i class="fa-solid fa-circle-info"></i> &nbsp;View Member</a></button></td>
        <td><button class="index-button"><a href="/members/{{member.id}}/edit_member"><i class="fa-solid fa-pen-to-square"></i> &nbsp;Edit Member</a></button></td>
        <td>
            <form action="/members/{{member.id}}/delete" method="POST">
                <button class="index-button"><i class="fa-solid fa-trash"></i> &nbsp;Delete Member</button>
                
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}




{% endblock %}