{% extends 'base.html'%}

{% block content %}
<h1>Edit Booking Information of Booking Number {{booking.id}}</h1>

<form action="/bookings/{{booking.id}}/edit" method="post">

    <div>
        <label for="member_id">Select Member:</label>
        <select id="member_id" name="member_id">
            {% for row in members %}
            <option value="{{row.id}}" {% if member.id == row.id %}selected{% endif %}>
                {{member.name}}</option>
            {% endfor %}
        </select>
    </div>
    
    <div>
        <label for="activity_id">Select Class:</label>
        <select id="activity_id" name="activity_id">
            {% for row in activities %}
            <option value="{{row.id}}" {% if activity.id == row.id %}selected{% endif %}>
                {{activity.type}} at {{activity.time}} on {{activity.date}}</option>
            {% endfor %}
        </select>
    </div>
    
    <input type="submit" value="Update Booking" />
    </form>

{% endblock %}