{% extends 'base.html'%}

{% block content %}
<h1>Edit Booking Information of Booking Number {{booking.id}}</h1>

<p>Class information for Booking Number {{booking.id}}.</p>

<table class="small">
    <tr>
        <td><strong>Class ID</strong></td>
        <td>{{activity.id}}</td>
    </tr>
    <tr>
        <td><strong>Type of Activity</strong></td>
        <td>{{activity.type}}</td>
    </tr>
    <tr>
        <td><strong>Time</strong></td>
        <td>{{activity.time}}</td>
    </tr>
    <tr>
        <td><strong>Date</strong></td>
        <td>{{activity.date}}</td>
    </tr>
    <tr>
        <td><strong>Capacity</strong></td>
        <td>{{activity.capacity}}</td>
    </tr>
</table>

<p>Change this booking to another gym member using the form below.</p>

<form action="/bookings/{{booking.id}}/edit" method="post" class="submission">

    <div>
        <label for="member_id">Select Member:</label>
        <select id="member_id" name="member_id">
            {% for row in members %}
                {% if member.premium == False %}
                    <option value="{{row.id}}" {% if member.id == row.id %}selected{% endif %}>
                    {{row.name}}  (Standard)</option>
                {% else %}
                <option value="{{row.id}}" {% if member.id == row.id %}selected{% endif %}>
                    {{row.name}}  (Premium)</option>
                {% endif %}

            {% endfor %}
        </select>
    </div>
    
    <input type="submit" value="Update Booking" />
    </form>

{% endblock %}