{% extends 'base.html'%}

{% block content %}

<h1>Gym Bookings</h1>

<p>This page shows all bookings at Amazing Gym. For each booking, you you can see the gym member who made the booking and information about the class they are attending. Bookings can also be amended and deleted from this page.</p>
<p>Please visit the <a href="/bookings/new_booking">Create a Booking</a> page to create a brand new booking for a gym member.</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Member Name</th>
            <th>Type of Class</th>
            <th>Time</th>
            <th>Date</th>
            <th colspan="3"><strong>Booking Management</strong></th>
        </tr>
    </thead>
    <tbody>
    {% for booking in bookings %}
    <tr>
        <td><a href="/bookings/{{booking.id}}">{{booking.id}}</a></td>
        <td><a href="/members/{{booking.member.id}}">{{booking.member.name}}</a></td>
        <td><a href="/classes/{{booking.activity.id}}">{{booking.activity.type}}</a></td>
        <td>{{booking.activity.time}}</td>
        <td>{{booking.activity.date}}</td>
        <td><button class="index-button"><a href="/bookings/{{booking.id}}"><i class="fa-solid fa-circle-info"></i> &nbsp;View Booking</a></button></td>
        <td><button class="index-button"><a href="/bookings/{{booking.id}}/edit_booking"><i class="fa-solid fa-pen-to-square"></i> &nbsp;Edit Booking</a></button></td>
        <td>
            <form action="/bookings/{{booking.id}}/delete" method="POST">
                <button class="index-button"><i class="fa-solid fa-trash"></i> &nbsp;Delete Booking</button>
                
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}