{% extends 'base.html'%}

{% block content %}

<h1>Gym Bookings</h1>

<table>
    <tr>
        <th>Booking ID</th>
        <th>Member Name</th>
        <th>Type of Class</th>
        <th>Class Date</th>
        <th>Class Time</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td><a href="/bookings/{{booking.id}}">{{booking.id}}</a></td>
        <td><a href="/members/{{booking.member.id}}">{{booking.member.name}}</a></td>
        <td><a href="/classes/{{booking.activity.id}}">{{booking.activity.type}}</a></td>
        <td>{{booking.activity.time}}</td>
        <td>{{booking.activity.date}}</td>
        <td><button class="index-button"><a href="/bookings/{{booking.id}}"><i class="fa-solid fa-circle-info"></i> &nbsp;View Booking</a></button></td>
        <td><button class="index-button"><a href="/bookings/{{booking.id}}/edit_booking"><i class="fa-solid fa-pen-to-square"></i> &nbsp;Edit Booking</a></button></td>
        <td>
            <form action="/bookings/{{booking.id}}/delete" method="POST">
                <button class="index-button"><i class="fa-solid fa-trash"></i> &nbsp;Delete Booking</button>
                
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}