{% extends 'base.html'%}

{% block content %}
<h1>Book a Member Into a Class</h1>

<p>Members can be booked into classes using the form below. Deactivated members are not available for selection. </p>
<p>Standard members can only book a class during off-peak hours (10am to 4pm).</p>


<form action="/bookings" method="post" class="submission">

<div>
    <label for="member_id">Select Member:</label>
    <select id="member_id" name="member_id">
        {% for member in members %}
        <option value="{{member.id}}">{{member.name}}</option>
        {% endfor %}
    </select>
</div>

<div>
    <label for="activity_id">Select Class:</label>
    <select id="activity_id" name="activity_id">
        {% for activity in activities %}
        <option value="{{activity.id}}">{{activity.type}} at {{activity.time}} on {{activity.date}}</option>
        {% endfor %}
    </select>
</div>

<input type="submit" value="Create Booking" />
</form>


{% endblock %}