{% extends 'base.html'%}

{% block content %}
<h1>Booking Information for Booking Number {{booking.id}}</h1>

<table class="small">
    <tr>
        <td><strong>Booking ID</strong></td>
        <td>{{booking.id}}</td>
    </tr>
    <tr>
        <td><strong>Member Name</strong></td>
        <td><a href="/members/{{member.id}}">{{member.name}}</a></td>
    </tr>
    <tr>
        <td><strong>Type of Activity</strong></td>
        <td><a href="/classes/{{activity.id}}">{{activity.type}}</a></td>
    </tr>
    <tr>
        <td><strong>Time</strong></td>
        <td>{{activity.time}}</td>
    </tr>
    <tr>
        <td><strong>Date</strong></td>
        <td>{{activity.date}}</td>
    </tr>

    <tr>
        <td><strong>Capacity</strong></td>
        <td>{{activity.capacity}}</td>
    </tr>
</table>


<p><a href="/bookings/{{booking.id}}/edit_booking">Edit This Booking</a></p>


{% endblock %}