
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

body a {color: blue;}
body a:hover{color:red;}

/* Header */
header {
    background: url('/static/images/background-gym-equipment.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: white;
    border-top:4px solid black;
    margin:0;
}


/* Website Logo */
#logo {
    margin:15px 15px 10px 50px;
    text-decoration: none;
    }

#logo h2{
    color:yellow;
    font-family:'Bungee Inline';
    font-size:50px;
}
#logo a{text-decoration: none;}
#logo a:hover h2{color:white;}

/* Navigation Menu */
nav {
    padding-bottom:10px;
}

#main-menu{
    list-style: none;
}

#main-menu li {
    display:inline;
    font-size:25px;
}

#main-menu li a{
    text-decoration: none;
    color:white;
    background-color: black;
    padding:20px;
}

#main-menu li a:hover{
    color:yellow;
}

/* Container for main page */

#container {
    background-color: white;
    margin:20px;
    padding:20px;
    border-radius: 25px;
    color:black;
    font-size:18px;
}

/* Home Page Navigation Grid */

#home-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.box {
    text-transform: uppercase;

    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin-bottom:15px;
    text-align:center;
    font-size:25px;
    font-family:'Bungee Inline';
}

.box img:hover{
    opacity: 80%;
}

.box a{
    text-decoration: none;

}

.box a:hover{
    color:red;
}


/* Styling Tables */

table {
    width:100%;
}

thead th {
    background-color: #333;
    color:white;
    text-transform: uppercase;
}

th, td {
    border: 1px solid black;
    padding: 10px 15px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: rgb(250, 247, 206);
}

/* View, Edit and Delete Buttons */

.index-button, .index-button a {
background-color: transparent;
color:blue;
border: none;
font-size: 16px;
cursor: pointer;
text-decoration: none;
}

.index-button:hover, .index-button:hover a{
    color:red;
}


/* Footer */

footer {
    background-color: black;
    padding:15px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color:white;
}

footer a:hover{
    color:yellow;
}