<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/835e3e9312.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>The Amazing Gym - {{ title }}</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="/"><h2>Amazing Gym</h2></a>
        </div>
        <nav>
            <ul id="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/bookings">Bookings</a></li>
        </ul>
        </nav>
    </header>
    <main>
    <div id="container">

    {% block content %}
    {% endblock %}

    </div>
    </main>
    <footer>
        <a href="/">Home</a> |
        <a href="/members">Members</a> |
        <a href="/classes">Classes</a> |
        <a href="/site-map">Site Map</a>
    </footer>

</body>
</html>