{% extends 'base.html'%}

{% block content %}

<div id="home-grid">
    <div class="box">
        <a href="/members"><img src="/static/images/home-boxes/members.jpeg" alt="View Members" width="300" height="200" /></a><br />
        <a href="/members">Members</a>
    </div>
    <div class="box">
        <a href="/classes"><img src="/static/images/home-boxes/classes.jpeg" alt="View Classes" width="300" height="200" /></a><br />
        <a href="/classes">Classes</a>
    </div>
    <div class="box">
        <a href="/bookings"><img src="/static/images/home-boxes/bookings.jpeg" alt="View Bookings" width="300" height="200" /></a><br />
        <a href="/bookings">Bookings</a>
    </div>
    <div class="box">
        <a href="/members/new_member"><img src="/static/images/home-boxes/add-member.jpeg" alt="Add New Member" width="300" height="200" /></a><br />
        <a href="/members/new_member">Add New Member</a>
    </div>
    <div class="box">
        <a href="/classes/new_class"><img src="/static/images/home-boxes/add-class.jpeg" alt="Add New Class" width="300" height="200" /></a><br />
        <a href="/classes/new_class">Add New Class</a>
    </div>
    <div class="box">
        <a href="/bookings/new_booking"><img src="/static/images/home-boxes/create-booking.jpeg" alt="Create a Booking" width="300" height="200" /></a><br />
        <a href="/bookings/new_booking">Create a Booking</a>
    </div>
    <div class="box">
            <form action="/delete-everything" method="POST">
                <img src="/static/images/home-boxes/nuclear.jpeg" alt="Blow It All Up!" width="300" height="200" /><br />
                <button class="index-button">Quit Your Job?</button>
            </form>
    </div>
    <div class="box">
        <a href="/seed_database"><img src="/static/images/home-boxes/reseed-database.jpeg" alt="Reseed the Database" width="300" height="200" /></a><br />
        <a href="/seed_database">Reseed the Database</a>
    </div>

    <div class="box">
        <a href="/time_to_dance"><img src="/static/images/home-boxes/dancing-squirrel.jpeg" alt="Let's Dance!!!" width="300" height="200" /></a><br />
        <a href="/time_to_dance">Forget the Gym...Let's Dance!</a>
    </div>
</div>

{% endblock %}