{% extends 'base.html'%}

{% block content %}
This is going to be the gym home page

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/members/new_member">Add New Member</a></li>
    <li><a href="/classes">Classes</a></li>
    <li><a href="/classes/new_class">Add New Class</a></li>
    <li><a href="/bookings">Bookings</a></li>
    <li><a href="/bookings/new_booking">Book Member into a Class</a></li>
    <li><a href="/site-map">Site Map</a></li>
    </ul>


{% endblock %}